header {
  width: 1000px;
  height: 550px;
  margin: 0 auto;
  font-family: 'Sansation', sans-serif;
  font-weight: 20px;
  background-image: url(../image/Header_background.png);
}
.information-lane {
  height: 57px;
  display: block;
  border-bottom: 1px solid grey;
}
.header-logo {
  float: left;
  margin: 22px 60px 0 32px;
}
nav,
nav li {
  display: inline-block;
  margin-top: 11px;
}

.menu__items {
  text-decoration: none;
  color: #DFDDE4;
  padding: 22px 40px 0 7px;
}
.menu__items_choose {
  color: #007583;
}

.society{
  display: inline-block;
  position: relative;
}
.society__icon {
  padding: 10px;
}
.society__icon-background-fb,
.society__icon-background-tw,
.society__icon-background-google {
  position: absolute;
  top: 1px;
  right: 0;
}
.society__icon-background-fb {
  right: 72px;
}
.society__icon-background-tw {
  right: 38px;
}
.society__icon-background-google {
  right: 5px;
}

.service {
  margin-top: 100px;
  display: block;
  outline: 2px solid red;
}
.service-arrow {
  padding: 5px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.service__inform {
  width: 550px;
  height: 185px;
  margin: 10px auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}
.service___inform_title {
  text-transform: uppercase;
  font-family: "Sansation", sans-serif;
  font-size: 46px;
  font-weight: bold;
  color: white;
}