body {
  width: 1000px;
  height: auto;
  margin: 0 auto;
}
header {
  width: 1000px;
  height: 550px;
  margin: 0 auto;
  font-family: 'Sansation', sans-serif;
  font-weight: 20px;
  background-image: url(../image/Header_background.png);
}
.information-lane {
  height: 57px;
  display: block;
  border-bottom: 1px solid grey;
}
.header-logo {
  float: left;
  margin: 22px 60px 0 32px;
}
nav,
nav li {
  display: inline-block;
  margin-top: 11px;
}

.menu__items {
  text-decoration: none;
  color: #DFDDE4;
  padding: 22px 40px 0 7px;
}
.menu__items_choose {
  color: #007583;
}

.society{
  display: inline-block;
  position: relative;
}
.society__icon {
  padding: 10px;
}
.society__icon-background-fb,
.society__icon-background-tw,
.society__icon-background-google {
  position: absolute;
  top: 1px;
  right: 0;
}
.society__icon-background-fb {
  right: 72px;
}
.society__icon-background-tw {
  right: 38px;
}
.society__icon-background-google {
  right: 5px;
}

.service {
  margin-top: 125px;
  display: block;
}
.service-arrow {
  padding: 5px;
  border: 2px solid rgba(255, 255, 255, 0.3);
}
.service__inform {
  width: 550px;
  height: 225px;
  margin: 10px auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}
.service__inform_title {
  text-transform: uppercase;
  font-family: "Sansation", sans-serif;
  font-size: 46px;
  font-weight: bold;
  color: white;
  margin-top: 40px;
}
.service__inform_text {
  font-family: "Sansation" sans-serif;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 15px;
  margin: 45px 0 52px 0;
}
.service__inform_btn {
  font-family: "Sansation", sans-serif;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  background: url(/image/Header_background.png) no-repeat 50% 71%;
  padding: 6px 25px;
}
.service__previos {
  float: left;
  margin: 100px 0 0 35px;
}
.service__next {
  float: right;
  margin: 100px 35px 0 0;
}

.about__inform {
  display: inline-block;
  width: 420px;
  height: 300px;
  padding: 55px 30px 0 0;
  float: right;
}
.about__inform_title {
  font-family: "Sansation", serif;
  font-size: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  margin-bottom: 35px;
}
.about__inform_text {
  font-family: "Myriad Pro", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 30px;
}
.about__inform_btn {
  margin-top: 25px;
  font-size: 10px;
  background:#00A1AD;
  color: white;
  text-transform: uppercase;
  padding: 5px 25px;
}